# Se copia este archivo como application-local.properties en la misma carpeta, ese archivo
# esta en .gitignore y nunca se sube al repositorio.

spring.datasource.url=jdbc:mysql://localhost:3306/vetturno
spring.datasource.username=TU_USUARIO
spring.datasource.password=TU_PASSWORD
